In [21]:
import pandas as pd

df = pd.read_csv("datasets/Disease_symptom_and_patient_profile_dataset.csv")
df

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
...,...,...,...,...,...,...,...,...,...,...
344,Stroke,Yes,No,Yes,No,80,Female,High,High,Positive
345,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
346,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
347,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive
348,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Disease               349 non-null    object
 1   Fever                 349 non-null    object
 2   Cough                 349 non-null    object
 3   Fatigue               349 non-null    object
 4   Difficulty Breathing  349 non-null    object
 5   Age                   349 non-null    int64
 6   Gender                349 non-null    object
 7   Blood Pressure        349 non-null    object
 8   Cholesterol Level     349 non-null    object
 9   Outcome Variable      349 non-null    object
dtypes: int64(1), object(9)
memory usage: 27.4+ KB

In [27]:
df.groupby(["Disease"]).size().reset_index(name="count")

                           Disease  count
0                             Acne      1
1                Allergic Rhinitis      6
2              Alzheimer's Disease      5
3                           Anemia      1
4                Anxiety Disorders      6
..                             ...    ...
111             Ulcerative Colitis      5
112        Urinary Tract Infection      5
113  Urinary Tract Infection (UTI)      3
114              Williams Syndrome      1
115                     Zika Virus      2

[116 rows x 2 columns]

In [23]:
X = df.drop(columns=["Disease", "Age", "Gender"])
X

,Fever,Cough,Fatigue,Difficulty Breathing,Blood Pressure,Cholesterol Level,Outcome Variable
0,Yes,No,Yes,Yes,Low,Normal,Positive
1,No,Yes,Yes,No,Normal,Normal,Negative
2,No,Yes,Yes,No,Normal,Normal,Negative
3,Yes,Yes,No,Yes,Normal,Normal,Positive
4,Yes,Yes,No,Yes,Normal,Normal,Positive
...,...,...,...,...,...,...,...
344,Yes,No,Yes,No,High,High,Positive
345,Yes,No,Yes,No,High,High,Positive
346,Yes,No,Yes,No,High,High,Positive
347,Yes,No,Yes,No,High,High,Positive
348,Yes,No,Yes,No,High,High,Positive

In [24]:
#Duplicate entry count
X.duplicated().value_counts()

print( ( X.duplicated().value_counts()/len(X) ) * 100)

True     69.054441
False    30.945559
Name: count, dtype: float64